@page "/MyPets"
@inject NavigationManager NavigationManager
@inject IAllPetsInterface Pets
@inject IJSRuntime JsRuntime

<div class="container mt-5">
    <h1 class="text-center mb-5 display-4">My Pets</h1>
    @if (petEntity != null)
    {
        <MyPetsChild Pets="@petEntity" />
    }
</div>

@code {
    private AllPetsEntity? petEntity;
    bool isSellerIdRetrieved = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var sellerIdString = await JsRuntime.InvokeAsync<string>("localStorage.getItem", "SellerId");
            if (int.TryParse(sellerIdString, out int sellerId))
            {
                var cats = Pets.SearchCatsUsingId(sellerId);
                var dogs = Pets.SearchDogsUsingId(sellerId);

                petEntity = new AllPetsEntity
                    {
                        Cats = cats,
                        Dogs = dogs
                    };
                isSellerIdRetrieved = true;
                StateHasChanged();
            }
        }
    }
}
